pipeline_design/Sales_ETL_Pipeline/Sales_ETL_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"RetailSalesLakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Sales_ETL_Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupCategories","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"RetailSalesLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"bc56c1ea-dc24-49b2-bdf0-bff125369e5d","artifactId":"[parameters('RetailSalesLakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"products.csv","folderPath":"data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}}},{"name":"ForEachCategory","type":"ForEach","dependsOn":[{"activity":"LookupCategories","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('LookupCategories').output.value\n","type":"Expression"},"isSequential":true,"activities":[{"name":"RunNotebookForCategory","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"18c5ae07-c6a2-4ddd-9737-88679eb35819","workspaceId":"bc56c1ea-dc24-49b2-bdf0-bff125369e5d","parameters":{"category":{"value":{"value":"@item().category","type":"Expression"},"type":"string"}}}}]}}],"lastModifiedByObjectId":"c560655e-df90-4797-ab23-faf2c04140a5","lastPublishTime":"2025-07-08T11:43:05Z"},"dependsOn":[]}]}